<!doctype html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Charts</title>
</head>
<body>
<h1 align="center">Welcome to the Home Page!</h1>
<br />

<nav th:replace="layout/nav :: navFragment"></nav>

<br /><br /><br />
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<a href="/rock"> <img
						src="https://i.pinimg.com/736x/cd/53/4b/cd534b899b3eeaea10c85595d90d6e8b--logo-free-famous-logos.jpg" alt="rock" height = "400" width = "400" />
						<div class="caption">
							<p align="center">Click here to see the Top 10 Rock Charts.</p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="thumbnail">
					<a href="/pop"> <img
						src="http://s3.amazonaws.com/submitsongs.musicxray.com/profiles/logos/5962/large/Pop-up_Music_Logo.jpg?1393927180" alt="pop" height = "400" width = "400" />
						<div class="caption">
							<p align="center">Click here to see the Top 10 Pop Charts.</p>
						</div>
					</a>
				</div>
			</div>
		
	
	
	
	</div>
	</div>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<div class="thumbnail">
		<a href="https://www.novaragnarok.com/forum/uploads/monthly_2017_07/EZ.jpg.7bd0108b3a7b9c281ac56c75742e6c61.jpg">
	<div class="caption">
							<p align="center">Click here for memes</p>
						</div>
					</a>
	
	</div>

</body>
</html>