<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Buildings</title>

</head>
<body>
<h1 align="center">Largest Footprint</h1>
<br />
<nav th:replace="layouts/nav :: navFragment"></nav>

<br />

	<div class="container">
		<table class="table table-striped">
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th>Country</th>
				<th>Place</th>
				<th>Footprint (m<sup>2</sup>)</th>
				<th>Image</th>

			</tr>
			<tr th:each="building : ${footprint}">
			<td th:text="${building.rank}">1</td>
			<td th:text="${building.name}">Aalsmeer Flower Auction</td>
			<td th:text="${building.country}">Netherlands</td>
			<td th:text="${building.place}">Aalsmeer</td>
			<td th:text="${building.footprint}">518000</td>
			<td><img src="../static/aalsmeer.jpg" th:src="@{/} + ${building.image}" width="200" /></td>
			
			</tr>
			
		</table>
	</div>
</body>
</html>