<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Survivors</title>
<style>
th, tr {text-align:center;}
</style>
</head>
<body>
<h1 align="center">Cereals</h1>
<br />
<nav th:replace="layout/nav :: navFragment"></nav>
	
		
<br /><br />	


	<div class="container">
		<table class="table table-striped">
			<tr>
				<th>Cereal ID</th>
				<th>Manufacturer</th>
				<th>Cereal</th>
				<th>Energy (kJ)</th>
				<th>Calories (kcal)</th>
				<th>Protein (g)</th>
				<th>Carbohydrate (g)</th>
				<th>Sugars (g)</th>
				<th>Fat (g)</th>
				<th>Saturates (g)</th>
				<th>Fibre (g)</th>
				<th>Sodium (g)</th>
				<th>Salt (g)</th>
				<th>Iron (mg)</th>

			</tr>
			<tr th:each="cereals : ${cereals}">
			<td th:text="${cereals.cerealId}">cerealId</td>
			<td th:text="${cereals.manufacturer}">manufacturer</td>
			<td th:text="${cereals.name}">cereal</td>
			<td th:text="${cereals.energy}">energy</td>
			<td th:text="${cereals.calories}">calories</td>
			<td th:text="${cereals.protein}">protein</td>
			<td th:text="${cereals.carbohydrate}">carbohydrate</td>
			<td th:text="${cereals.sugars}">sugars</td>
			<td th:text="${cereals.fat}">fat</td>
			<td th:text="${cereals.saturates}">saturates</td>
			<td th:text="${cereals.fibre}">fibre</td>
			<td th:text="${cereals.sodium}">sodium</td>
			<td th:text="${cereals.salt}">salt</td>
			<td th:text="${cereals.iron}">iron</td>

			</tr>
			
		</table>
	</div>
</body>
</html>