<!doctype html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Cereal</title>
</head>
<body>
	<h1 align="center">Welcome to the Home Page!</h1>
	<br />

	<nav th:replace="layout/nav :: navFragment"></nav>
	<div class="container">



		<table class="table table-striped">

			<tr>
				<th>Cereal ID</th>
				<th>Manufacturer</th>
				<th>Cereal</th>
				<th>Links (View Edit Delete)</th>
			</tr>

			<tr th:each="cereal : ${cereals}">
				<td th:text="${cereal.cerealId}">cerealId</td>
				<td th:text="${cereal.manufacturer}">Kellogg's</td>
				<td th:text="${cereal.name}">Cornflakes</td>
				<td><a href="#" th:href="@{cereal/view/} + ${cereal.cerealId}">View</a>
					<a href="#" th:href="@{cereal/edit/} + ${cereal.cerealId}">Edit</a>
					<a href="#" th:href="@{cereal/delete/} + ${cereal.cerealId}">Delete</a>
				</td>
			</tr>

		</table>
		<a class="btn btn-primary" href="/cereal/add" role="button">Add New</a> 
	</div>
	

	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="thumbnail">
		<a
			href="https://www.novaragnarok.com/forum/uploads/monthly_2017_07/EZ.jpg.7bd0108b3a7b9c281ac56c75742e6c61.jpg">
			<div class="caption">
				<p align="center">Click here for memes</p>
			</div>
		</a>

	</div>

</body>
</html>