<!doctype html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Cereal</title>
</head>
<body>
<h1 align="center">Welcome to the Home Page!</h1>
<br />

<nav th:replace="layout/nav :: navFragment"></nav>
	<div class="container">
		<div class="row">
			
		
			<div class="col-md-4">
				<div class="thumbnail">
					<a href="/cereal"> <img class="img-circle"
						src="http://www.kelloggs.co.uk/content/dam/workarea/assetpushqueue/assetpushqueue-WebAssets-Approved/images/web-raw-Approved/eng%20UK/40/03/prod_img-254003.jpg.thumb.319.319.png" alt="passengers" height = "200" width ="200" />
						<div class="caption">
							<p align="center">Click here to see the list of cereals.</p>
						</div>
					</a>
				</div>
			</div>
	
	
	
	</div>
	</div>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<div class="thumbnail">
		<a href="https://www.novaragnarok.com/forum/uploads/monthly_2017_07/EZ.jpg.7bd0108b3a7b9c281ac56c75742e6c61.jpg">
	<div class="caption">
							<p align="center">Click here for memes</p>
						</div>
					</a>
	
	</div>

</body>
</html>