<!doctype html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<style>
th, tr {
	text-align: center;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Home Page</title>
</head>
<body>
	<h1 align="center">Welcome to the Home Page!</h1>
	<br />

	<nav th:replace="layout/nav :: navFragment"></nav>
	<div class="container">

<!--<p th:text="${member.constituencyName}"></p>
-->
		<table class="table table-striped">

			<tr>
				<th style="text-align:center">Person ID</th>
				<th style="text-align:center">Affiliation ID</th>
				<th style="text-align:center">Member Name</th>
				<th style="text-align:center">Party</th>
				<th style="text-align:center">Party Organisation ID</th>
				
			</tr>

			<tr th:each="member : ${members}">
				<td th:text="${member.personId}">cerealId</td>
				<td th:text="${member.affiliationId}">Kellogg's</td>
				<td th:text="${member.memberFirstName} +  ' ' + ${member.memberLastName}">Cornflakes</td>
				<td th:text="${member.party}">Cornflakes</td>
				<td th:text="${member.partyOrganisationId}">Cornflakes</td>

			</tr>

		</table>
		
	</div>
	


</body>
</html>