<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Dwarfs and Dwarves</title>
</head>
<body>

<div class="jumbotron text-center">
<h1>Disney Dwarfs</h1>
<h2>Snow White's Dwarfs</h2>
<br />
</div>


<div class="container">
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Image</th>
  
  </tr>
 <tr>
    <td>Doc</td>
    <td><img src="../static/Doc.png" width="100" /></td>
    </tr>
     <tr>
    <td>Grumpy</td>
    <td><img src="../static/Grumpy.png" width="100" /></td>
    </tr>
       <tr>
    <td>Happy</td>
    <td><img src="../static/Happy.png" width="100" /></td>
    </tr>
       <tr>
    <td>Sleepy</td>
    <td><img src="../static/Sleepy.png" width="100" /></td>
    </tr>
       <tr>
    <td>Dopey</td>
    <td><img src="../static/Dopey.png" width="100" /></td>
    </tr>
       <tr>
    <td>Bashful</td>
    <td><img src="../static/Bashful.png" width="100" /></td>
    </tr> 
       <tr>
    <td>Sneezy</td>
    <td><img src="../static/Sneezy.png" width="100" /></td>
    </tr>
    </table>
    </div>
    </body>
    </html>