<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Dwarfs and Dwarves</title>
</head>

<body>

<div class="jumbotron text-center">
<h1>Tolkien Dwarves</h1>
<h2>The Company of Thorin</h2>
<br />
</div>

<div class="container">
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Image</th>
   
  </tr>
  <tr>
    <td>Thorin</td>
    <td><img src="../static/Thorin.png" width="100" /></td>
    </tr>
    <tr>
    <td>Dwalin</td>
    <td><img src="../static/Dwalin.png" width="100" /></td>
    </tr>
      <tr>
    <td>Balin</td>
    <td><img src="../static/Balin.png" width="100" /></td>
    </tr>
      <tr>
    <td>Kili</td>
    <td><img src="../static/Kili.png" width="100" /></td>
    </tr>
      <tr>
    <td>Fili</td>
    <td><img src="../static/Fili.png" width="100" /></td>
    </tr>
      <tr>
    <td>Dori</td>
    <td><img src="../static/Dori.png" width="100" /></td>
    </tr>
      <tr>
    <td>Nori</td>
    <td><img src="../static/Nori.png" width="100" /></td>
    </tr>
      <tr>
    <td>Ori</td>
    <td><img src="../static/Ori.png" width="100" /></td>
    </tr>
      <tr>
    <td>Oin</td>
    <td><img src="../static/Oin.png" width="100" /></td>
    </tr>
      <tr>
    <td>Gloin</td>
    <td><img src="../static/Gloin.png" width="100" /></td>
    </tr>
      <tr>
    <td>Bifur</td>
    <td><img src="../static/Bifur.png" width="100" /></td>
    </tr>
      <tr>
    <td>Bofur</td>
    <td><img src="../static/Bofur.png" width="100" /></td>
    </tr>
      <tr>
    <td>Bombur</td>
    <td><img src="../static/Bombur.png" width="100" /></td>
    </tr>
    
    
    </table>
    </div>
    </body>
    </html>
    