<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Dwarfs and Dwarves</title>
</head>

<body>
<h1 align="center">Tolkien Dwarves</h1>
<br />
<nav th:replace="layouts/nav :: navFragment"></nav>
<div>

<h2 align="center">The Company of Thorin</h2>
<br />
</div>

<div class="container">
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Image</th>
   
  </tr>
 <tr th:each="dwarf : ${dwarfs}" th:if="${dwarf.author} == 'Tolkien'">
			<td th:text="${dwarf.name}">Dwalin</td>
				<td><img src="../static/Dwalin.png" th:src="@{/} + ${dwarf.image}" width="100" height="150" /></td>
			</tr>
    
    
    </table>
    </div>
    </body>
    </html>
    