<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Titanic Passengers</title>
<style>
th, tr {text-align:center;}
</style>

</head>
<body>
<h1 align="center">Passengers</h1>
<br />
<nav th:replace="layout/nav :: navFragment"></nav>
	
		
<br /><br />	

	<div class="container">

<br />	
		<div class="alert alert-success" role="alert" th:if="${message}">
			<p th:text="${message}"></p>
	</div>
	<div class="container">
<form action="/passengers/search" method="POST" id="searchForm">
                     <select class="col-sm-2" form="searchForm" name="searchField">
                           <option value="name">Name</option>
                           <option value="embarked">Embarked</option>
                           <option value="passengerClass">Passenger Class</option>
                     </select> 
                     <input type="text" class="col-sm-6" name="searchString"
                           form="searchForm"></input>
                     <button type="submit" value="search" form="searchForm"
                           class="btn btn-primary col-sm-2">Search</button>
              </form>
</div>
<br />
		<table class="table table-striped">

			<tr>
				<th>Passenger ID</th>
				<th>Passenger Name</th>
				
				<th>Links (View Edit Delete)</th>
			</tr>
			<tbody id="myTable">
				<tr th:each="passengers : ${er}">
					<td th:text="${passengers.passengerId}">Doc</td>
					<td th:text="${passengers.name}">Doc</td>

					<td><a href="#"
						th:href="@{passengers/view/} + ${passengers.passengerId}">View</a>
						<a href="#"
						th:href="@{passengers/edit/} + ${passengers.passengerId}">Edit</a>
						<a href="#"
						th:href="@{passengers/delete/} + ${passengers.passengerId}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" href="/passengers/add" role="button">Add New</a> 
	</div>

</body>
</html>