<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Create</title>
<style>
html{overflow-y: scroll; }
th, tr {
	text-align: center;
}
</style>
</head>
<body>
<div class="container-fluid" style="background-color: silver; height:100px; padding-top:10px">
	<h1 align="center">Beneficiary</h1>
	</div>

	<nav th:replace="layout/nav :: navFragment"></nav>


	<br />
	<br />

	<div class="container">

		<form class="form-horizontal" th:action="@{/beneficiaries/save}"
			th:object="${beneficiary}" method="post">


			<!--  hidden field is important! -->
			<input type="hidden" th:field="${beneficiary.beneficiaryId}" />

		
		

			<table class="table table-striped">
				
			<tr>
			<td>Name</td>
			<td><input type="text" class="form-control"
						th:field="${beneficiary.name}" /> 
					<span th:if="${#fields.hasErrors('name')}" th:errors="${beneficiary.name}"
					th:class="help-block">Name Errors</span></td>
				
				
			</tr>
			<tr>
				<td>Date of Application</td>
				<td><input type="text" class="form-control" th:field="${beneficiary.date}" /></td>
			</tr>
			<tr>
				<td>Business or Installation Location</td>
				<td><input type="text" class="form-control" th:field="${beneficiary.location}" /></td>
			</tr>
			<tr>
				<td>Technology Type Installation</td>
				<td><input type="text" class="form-control" th:field="${beneficiary.techtype}" /></td>
			</tr>
			<tr>
				<td>Capacity (kWth)</td>
				<td><input type="text" class="form-control" th:field="${beneficiary.capacity}" /></td>
			</tr>
			<tr>
				<td>Amount of payments made to 28 February 2017 (&#163;)</td>
				<td><input type="text" class="form-control" th:field="${beneficiary.payment}" /></td>
			</tr>
	
		</table>


			
			<button type="submit" class="btn btn-primary">Save</button>
			
		</form>
	</div>


</body>
</html>