<!doctype html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<style>
html{overflow-y: scroll;}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Home Page</title>
</head>
<body>
<div class="container-fluid" style="background-color: silver; height:100px; padding-top:10px">
<h1 align="center">Renewable Heat Incentive: Beneficiaries</h1>
</div>


<nav th:replace="layout/nav :: navFragment"></nav>
	<div class="container">
		<div class="row">
			
		
<br /><br /><br /><br /><br />			
				<div align="center">
					<a href="/beneficiaries"> <img class="img-circle"
						src="https://www.irishtimes.com/polopoly_fs/1.2911928.1482167741!/image/image.jpg_gen/derivatives/box_620_330/image.jpg" alt="beneficiaries" height = "350" />
						<div class="caption">
							<p align="center">Click here to see the list of beneficiaries.</p>
						</div>
					</a>
				
			</div>

	
	</div>
	</div>


</body>
</html>